<!-- 主实现 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="small_car">

    <xacro:property name="laser_visual" value="false" />
    <xacro:property name="camera_visual" value="false" />
    <xacro:property name="imu_visual" value="false" />
    <xacro:property name="update_rate" value="1000" />

    <xacro:include filename="$(find simulat)/urdf/car_base_urdf.xacro"/>
    <xacro:include filename="$(find simulat)/urdf/car_camera_urdf.xacro"/>
    <xacro:include filename="$(find simulat)/urdf/car_laser_urdf.xacro"/>
    <xacro:include filename="$(find simulat)/urdf/car_imu_urdf.xacro"/>
    
</robot>